doctype
html
    head
    title Simple Visitors book
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/lib/toastr/toastr.css")
    link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        h1 Hello Visitor
        block main-content
        include scripts